<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>测试页面</title>
  <link rel="stylesheet" href="../css/test.css">
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
</head>

<body>

  <!-- 主体程序 -->
  <div class="out-box">
    <!-- 侧导航栏 -->
    <div id="subnav">
      <ul id="lis">
        <li class="active">Echarts</li>
        <li>地图</li>
        <li>测试</li>
      </ul>
    </div>

    <div id="tab">
      <!-- EChart测试页面开始 -->
      <div style="display: block;">

        <!-- 基础线性图 -->
        <div id="line"></div>

        

        <!-- 渐变堆叠图 -->
        <div id="mychart"></div>
        <button id="download-img-btn">下载图片</button>

        <!-- 热力图 -->
        <div id="heatmap"></div>

        
      </div>
      <!-- EChart测试页面结束 -->
      <!-- 分布图面开始 -->
      <div>
        <h1>地图</h1>
      </div>
      <!-- 分布图面结束 -->
      <div>
        <h1>测试</h1>
        <div id="test-heatmap"></div>
        <div id="test-line"></div>

      </div>
    </div>
  </div>

</body>
<script type="module" src="../js/test.js"></script>

</html>